    <html>
        <body>
            <div>
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('stat') }}">Statistics</a>
                {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('stat') }}">Statistics</a>

                {% endif %}
            </div>


            <div>

            {% block content %}
                    {% if current_user.is_anonymous %}
                    <h1></h1>
                    {% else %}
                    <h1>Hi, {{ current_user.username }}!</h1>
                    {% endif %}
            {% endblock %}


            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
             <p>
                {{ form.url_link.label }}<br>
                {{ form.url_link(size=140) }}
                {% for error in form.url_link.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>

            <p>
                {{ form.short_link.label }}<br>

                <a>{{link[-1]}}  {{ form.submit2() }}</a>
                {% for error in form.short_link.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            </form>
        </body>
    </html>