
            <div>
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('stat') }}">Statistics</a>
                {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('stat') }}">Statistics</a>

                {% endif %}
            </div>

{% block content %}
    <h1>Statistics for links</h1>
    <table>
     <style>
     th, td {
        padding: 10px;
        text-align:center ;
     }
     table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
     }
     </style>
        <tr>
            <th>user link</th>
            <th>short link</th>
            <th>number of clicks on the link</th>
        </tr>
    {% for u in urls %}
        <tr>
            <td>{{ u.url_link}} </td>
            <td>https://s-link.herokuapp.com/{{u.short_link}} </td>
            <td>{{u.r_count}} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
