            <div>
                <h>Urlshortener:</h>
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}

            </div>

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for u in urls %}
    <p>
    {{ u.url_link}} - short_link:{{u.short_link}}</b>
    </p>
    {% endfor %}
{% endblock %}